asgiref==3.7.2
beautifulsoup4==4.12.3
black==23.11.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
crispy==0.7.4
crispy-bootstrap4==2023.1
cycler==0.12.1
dj-database-url==2.1.0
Django==4.2.9
django-bootstrap4==24.1
django-crispy-forms==2.1
django-theme-material-kit==1.0.19
fabio==2023.10.0
flake8==6.1.0
fonttools==4.50.0
gunicorn==21.2.0
h5py==3.10.0
hdf5plugin==4.4.0
kiwisolver==1.4.5
lxml==5.1.0
matplotlib==3.7.5
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
numpy==1.26.4
python-dotenv==1.0.1
silx==2.0.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
str2bool==1.1
typing_extensions==4.10.0
tzdata==2024.1
whitenoise==6.6.0
