{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ cook.username }}
  </h1>

  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Years of experience:</strong>
    {% if cook.years_of_experience %}
      {{ cook.years_of_experience }}
    {% else %}
      No experience
    {% endif %}
  </p>
  <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>

  <div class="ml-3">
    <h4>Dishes</h4>

    {% for dish in cook.dishes.all %}
      <hr>
      <p><strong>Name:</strong> {{ dish.name }}</p>
      <p><strong>Price:</strong> {{ dish.price }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ dish.id }}</p>

    {% empty %}
      <p>No dishes!</p>
    {% endfor %}
  </div>
{% endblock %}
